.question-table-container{
    /* padding: 2rem;
    max-width: 1000px;
    margin: auto;
     */

     width: 100%;
     padding: 2rem 0.5rem;
     overflow-x: auto;
     justify-content: center;

}

.filters{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: center;
}

.filters input,
.filters select{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.question-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    background: #fff;
    border-radius: 12px;
    margin-top: 1rem;
    overflow: hidden;
}

.question-table th,
.question-table td{
    padding: 0.8rem 1rem;
    text-align: left;
    color: black;
    border-bottom: 1px solid #ddd;
}

.question-table tr:hover{
    background-color: #f4f0f0;
}

.question-table th{
    background-color: #1e2a38;
    color: #fff;
}

.action-btn {
    margin-right: 0.5rem;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.action-btn.edit{
    background-color: #ffd700;
    color: #000;
}

.action-btn.delete{
    background-color: #ff4d4d;
    color: #fff;
}