.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    color: rgb(24, 23, 23);
}

.modal input, .modal select{
   display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 0.8rem;
    border: 1px solid #ccc;

}

.modal-actions{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-actions button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.cancel-btn{
    background-color: #eee;
}

.save-btn{
    background-color: #007bff;
    color: white;
}